<!DOCTYPE html>
<html>
  <head>
    <title>MIS21 POS System</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <style>
      body{
      	height:100%;
      	width:100%;
      	margin: 0 0 0 0;
      	padding:20px 10px 10px 10px;
      	font-family: "Century Gothic";
      	background-image: url(http://cdn.wonderfulengineering.com/wp-content/uploads/2013/12/metal-wallpapers-2.jpg);
      	color: white;
      }
      
      div{
      	height:100%;
      	font-family: "Century Gothic";
      	color: white;
      }
      
      h1{
      	font-size: 7em;
      	color: white;
      }
      
      u{
      	border-bottom: 3px solid white;
      	text-decoration: none;
      	padding: 0 50px 10px;
      }
      
      .buttonBack{
          display: inline-block;
          border-radius: 10px;
          background-color: #B0C4DE;
          border: 3px solid #f2f2f2;
          color: black;
          text-align: center;
          font-size: 14px;
          padding: 10px;
          width: 100px;
          transition: all 0.5s;
          cursor: pointer;
          margin: 5px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a class="navbar-brand" href="/guests/products"><strong>POS System</strong></a>
      </div>
      
      <p class="navbar-text pull-left">
        <%= link_to "View All Products", guests_products_path, :class => 'navbar-link'  %>
      </p>
      <p class="navbar-text pull-right">
        Viewing as Guest. |
        <%= link_to "End Session", root_path %>
      </p>
    </nav>
    
    <!--%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>-->

    <h1 align="right"><u>Canned Goods</u></h1>
    
    <br>
    <br>
    <br>
    
    <table class="table table-striped">
        <thead>
            <th style="text-align: center">#</th>
            <th style="text-align: center">Product Name</th>
            <th>Price</th>
        </thead>
        <tbody>
            <% @products.each do |this_product| %>
            <tr>
                <td style="text-align: center">
                    <%= @products.index(this_product) + 1 %>
                </td>
                <td style="text-align: center">
                    <%= this_product.name %>
                </td>
                <td>
                    <%= "%.2f" % this_product.price %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= link_to 'Back', home_index_path, class: "btn btn-warning buttonBack" %>
  </body>
</html>