<!DOCTYPE html>
<html>
  <head>
    <title>MIS21 POS System</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'style' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <a class="navbar-brand" href="/home"><strong>POS System</strong></a>
      </div>
      
      <p class="navbar-text pull-left">
        <%= link_to "View Products", guests_products_path, :class => 'navbar-link'  %>
      </p>
      <p class="navbar-text pull-right">
        Viewing as Guest. |
        <%= link_to "End Session", root_path %>
      </p>
    </nav>
  </body>
</html>