<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h1 align="right"><u>Products</u></h1>

<br>
<br>

<a href="/products/new"><button class="button1" style="vertical-align:middle"><span>Add New Products</span></button></a>

<br>
<br>

<table class="table table-striped">
    <thead>
        <th>Product Name</th>
        <th>Price</th>
        <th>Admin</th>
        <th>Status</th>
        <th colspan="3"></th>
    </thead>
    <tbody>
        <% @products.each do |this_product| %>
        <tr>
                <td>
                    <%= this_product.name %>
                </td>
                <td>
                    <%= "%.2f" % this_product.price %>
                </td>
                <td>
                    <%= if this_product.admin then this_product.admin.email else "NA" end %>
                </td>
                <td>
                    <%= if this_product.status then "Active" else "Inactive" end %>

                </td>
                <td>
                    <%= if this_product.status then link_to "Deactivate", product_path(this_product, this_product: {status: true}), 
                    method: :delete, class: "btn btn-danger" else link_to "Activate", product_path(this_product, this_product: {status: false}), 
                    method: :delete, class: "btn btn-primary" end %>
                </td>
                <td>
                     <%= link_to "Edit",
                        edit_product_path(this_product), class: "btn btn-warning" %>
                </td>
                <td>
                     <%= link_to "Show", product_path(this_product), class: "btn btn-success" %>
                </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back', home_index_path, class: "btn btn-warning buttonBack" %>