<%= stylesheet_link_tag 'style', 'data-turbolinks-track': 'reload' %>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <div class="actions"><%= f.email_field :email, autofocus: true %></div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>leave blank if you don't want to change it</i><br />
    <div class="actions"><%= f.password_field :password, autocomplete: "off" %></div>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
     <div class="actions"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
     <div class="actions"><%= f.password_field :current_password, autocomplete: "off" %></div>
  </div>
<br>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<p><h3>Unhappy?</h3>  <div class="actions"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></div></p>


<%= link_to "Back", :back, class: "btn btn-warning buttonBack" %>
