<%= stylesheet_link_tag 'style', 'data-turbolinks-track': 'reload' %>

<h2><u>Sign Up</u></h2>

<br>
<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br>
    <div class="actions"><%= f.email_field :email, autofocus: true %></div>
  </div>
  
  <br>
  <br>
  
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br>
    <div class="actions"><%= f.password_field :password, autocomplete: "off" %></div>
  </div>
  
  <br>
  <br>
  
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <div class="actions"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  </div>
  
  <br>
  <br>
  
  <div class="actions"><%= f.submit "Sign up" %></div>
  
<% end %>

<br>

<div> <%= render "devise/shared/links" %></div>
