<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h2><u>Forgot your password?</u></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  
  <br>
  <div class="field">
    <%= f.label :email %><br>
    <div class="actions"><%= f.email_field :email, autofocus: true %></div><br>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<br>

<%= render "devise/shared/links" %>
