<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<% if admin_signed_in? %>
    <!--<div class="btn-group">-->
    <!--%= link_to "View Products", products_path, class: "btn btn-primary button1" %>-->
    <!--%= link_to "View Cashiers", cashiers_path, class: "btn btn-primary button1" %>-->
    <!--%= link_to "View Report", daily_sales_path, class: "btn btn-primary button1" %>-->
    <!--</div>-->
<% elsif cashier_signed_in? %>
    <!--%= link_to "View Orders", orders_path, class: "btn btn-primary button1" %>-->
    <!--%= link_to "View Reports", daily_sales_path, class: "btn btn-primary button1"  %>-->
<% else %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="col-md-12 text-center" > 
    <div class="btn-group">
    <%= link_to "Login as Admin", new_admin_session_path, class: "btn btn-primary button1" %>
    <%= link_to "Login as Cashier", new_cashier_session_path, class: "btn btn-primary button1" %>
    <%= link_to "View as Customer", guests_products_path, class: "btn btn-primary button1" %>
    </div>
</div>
<% end %>