<%= simple_form_for this_order do |f| %>


    <!-- Place add functionality for each post_tag -->
    <div id="order_lines">
        <%= f.simple_fields_for :order_lines do |order_line| %>
            <%= render 'order_line_fields', f: order_line %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'add order_line', f, :order_lines %>
        </div>
    </div>
    
    <%= f.button :submit     %>
    
<% end %>