<div class="nested-fields">
    <%= f.association :product, :collection => Product.where(:status => true)%>
    <label>Quantity</label>
         <%= f.number_field :quantity %> <br>
    <%= link_to_remove_association "remove order line", f %> 
</div>