<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h1 align="right"><u>Daily Sales Report</u></h1>

<h4>As of <%= Date.today.to_s %></h4>

<% products = {} %>
<% sub = 0 %>
<% total = 0 %>
<% discount = 0 %>
<% withdiscount = 0 %>

<% @orders.each do |this| %>
    <% this.order_lines.each do |p| %>
        <% if products.keys.include? (p.product.name.to_sym) %>
            <% pz = products[p.product.name.to_sym] %>
            <% products[p.product.name.to_sym] = products[p.product.name.to_sym] + p.quantity %>
        <% else %>
            <% products[p.product.name.to_sym] = p.quantity %>
        <% end %>
    <% end %>
<% end %>

<table class="table table-striped">
    <thead>
        <th>
            Product Name
        </th>
        <th>
            Quantity Sold
        </th>
        <th>
            Subtotal (w/ VAT)
        </th>
    </thead>
    <tbody>
        <% h = products.keys %>
        <% hp = products.values %>
        <% h.each do |this| %>
            <tr>
                <td>
                    <%= this.to_s %>
                </td>
                <td>
                    <%= products[this.to_sym] %>
                </td>
                <td>
                    <% pr = Product.where(:name => this.to_s).first %>
                    <% discount = pr.price.to_f * pr.discount.to_f %>
                    <% '%.2f' %  withdiscount = (pr.price.to_f - discount) %>
                    <!--% total = total + withdiscount - discount %>-->
                    <%= '%.2f' % sub = (withdiscount * 1.12) * products[this.to_sym] %>
                    <% total = total + sub %>
                </td>
            </tr>
        <% end %>
        
    </tbody>
</table>

<h3>Total Sales: <b><%= total %></b></h3>

<br>
<br>

<%= link_to 'Back', home_index_path, class: "btn btn-warning buttonBack" %>