<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h1 align="right"><u>Orders</u></h1>

<br>
<br>

<a href="/orders/new"><button class="button1" style="vertical-align:middle"><span>Add New Order</span></button></a>

<% index = 0 %>

<br>
<br>

<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Cashier</th>
        <th>Total</th>
        <th>Total w/ VAT</th>
        <th>Cash</th>
        <th>Order</th>
        <th>    </th>
    </thead>
    <tbody>
        <% @orders.each do |this_order|%>
            <% if this_order.total_price == nil then this_order.destroy end %>
            <tr>
                <td>
                    <%= this_order.id %>
                </td>
                <td>
                    <%= this_order.cashier.name %>
                </td>
                <td>
                    <%= '%.2f' % this_order.total_price %>
                </td>
                <td>
                    <%= if this_order.new_total_price then '%.2f' % this_order.new_total_price end %>
                </td>
                <td>
                    <%= '%.2f' % this_order.cash %>
                </td>
                <td>
                    
                    <% this_order.order_lines.each do |prod| %>
                    
                            • <%= prod.quantity %> - <%= prod.product.name %>
                            
                    
                    <br>
                            
                    <% end %>
                </td>
                <td>
                    <%= link_to "Show", order_path(this_order), class: "btn btn-primary" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back', home_index_path, class: "btn btn-warning buttonBack" %>