<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h2><u>New Order</u></h2>

<%= simple_form_for @order do |f| %>
        <%= f.simple_fields_for :order_lines do |order_line|%>
            <div class="nested-fields">
                <%= order_line.association :product, :collection => Product.where(:status => true) %><br>
                
                <label>Quantity</label><br>
                
                <%= order_line.text_field :quantity %><br>
                
                <div><%= link_to_remove_association "Remove Order Line", order_line %></div><br>
            </div>
        <% end %>
        
        <br>
        
        <div class="links">
            <br>
            <%= link_to_add_association 'Add Order Line', f, :order_lines %>
            <br>
        </div>
    <br>
    <br>
    
    <div class="actions"><%= f.button :submit %></div>

<% end %>

<br>
<br>

<%= link_to 'Back', orders_path , class: "btn btn-warning buttonBack" %>