<%= stylesheet_link_tag 'style', 'data-turbolinks-track': 'reload' %>
<br>

<h2 align="center"><u>Order Summary <%= @order.id %></u></h2><br><br>
<br>
<% discount = 0 %>
<% withdiscount = 0 %>
<table class="table table-striped">
    <thead>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Subtotal (w/ VAT)</th>
    </thead>
    <tbody>
        <% @order.order_lines.each do |order| %>
            <tr>
                <td>
                    <%= order.product.name %>
                </td>
                <td>
                    <%= order.quantity %>
                </td>
                <td>
                    <!--%= '%.2f' % (order.product.price.to_f * order.quantity.to_f) %>-->
                    <% discount = order.product.price.to_f * order.product.discount.to_f %>
                    <%= withdiscount = (order.product.price.to_f - discount) * order.quantity.to_f %>
                </td>
                <td>
                    <!--%= '%.2f' % ((order.product.price.to_f * order.quantity.to_f) * 1.12) %>-->
                    <%= '%.2f' % (withdiscount * 1.12) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<br>
<br>
<div align="right" style="margin-right:50px">
    <h3>Total: <%= '%.2f' % @order.total_price %></h3>
    <h3>VAT: <%= '%.2f' % @order.vat %></h3>
    <h3>Total w/ VAT: <%= '%.2f' % @order.new_total_price %></h3>
    <h3>Cash: <%= '%.2f' % @order.cash %></h3>
<h3>Change: <%= '%.2f' % (@order.cash - @order.new_total_price) %> </h3> <br>
<br>


<div align="left" style="margin-left:25px">
<%= link_to "Print", '#', class: "btn btn-danger buttonBack", onclick: 'window.print();return false;' %>

<% if admin_signed_in? %> 
    <%= link_to 'Back', cashiers_path, class: "btn btn-warning buttonBack" %>
<% else %> 
    <%= link_to 'Back', orders_path, class: "btn btn-warning buttonBack" %>
<% end %>

</div>

</div>

