<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h2><u>Confirm Order</u></h2>

<br>
<br>

<% totalprice = nil %>
<% newtotalprice = nil %>
<% discount = 0 %>
<% withdiscount = 0 %>
<% vat = nil %>
<table class="table table-striped">
    <thead>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>

    </thead>
    <tbody>
        <% @order.order_lines.each do |order| %>
        <tr>
            <td>
                <%= order.product.name %>
            </td>
            <td>
                <%= order.quantity %>
            </td>
            <td>
                <!--%= '%.2f' % (order.product.price.to_f * order.quantity.to_f) %>-->
                <% discount = order.product.price.to_f * order.product.discount.to_f %>
                <%= withdiscount = (order.product.price.to_f - discount) * order.quantity.to_f %>
            </td>
            
            <% if totalprice == nil %>
                <% totalprice = 0 %>
                <!--% totalprice = totalprice + (order.product.price * order.quantity) %>-->
                <% totalprice = totalprice + withdiscount %>
            <% else %>
                <!--% totalprice = totalprice + (order.product.price * order.quantity) %>-->
                <% totalprice = totalprice + withdiscount %>
            <% end %>
            
            <% if vat == nil %>
                <% vat = 0 %>
                <% vat = totalprice * 0.12 %>
            <% else %>
                <% vat = totalprice * 0.12 %>
            <% end %>
            
            <% if newtotalprice == nil %>
                <% newtotalprice = 0 %>
                <% newtotalprice = totalprice * 1.12 %>
            <% else %>
                <% newtotalprice = totalprice * 1.12 %>
            <% end %>
            
        </tr>
        <% end %>
    </tbody>
</table>


<%= form_for @order do |f| %>
    <h4>Total Price: <b><%= '%.2f' % totalprice %></b> </h4><br>
    <%= f.hidden_field :total_price, { :value => totalprice } %>
    <h4>VAT: <%= '%.2f' % vat %></h4>
    <%= f.hidden_field :vat, { :value => vat } %>
    <h4>Total Price w/ VAT: <b><%= '%.2f' % newtotalprice %></b> </h4><br>
    <%= f.hidden_field :new_total_price, { :value => newtotalprice } %>
    Cash: <div class="nested-fields"><%= f.text_field :cash %></div><br>
    <input type="submit" class="btn btn-primary button1" value="Create Product"/>
<% end %>



