<%= stylesheet_link_tag 'style', 'data-turbolinks-track': 'reload' %>
<br>
<br>
<div align="center" vertical-align="middle">
  <h4>Admin</h4>
<h2><u>Log In</u></h2>
<br>
<br>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true, :input_html => {:style=> 'width: 200px'} %>
    <%= f.input :password, required: false, :input_html => {:style=> 'width: 200px'} %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
</div>