<%= form_for @cashier do |f| %>
    <label>Name</label>
    <%= f.text_field :name %><br>
    
    <label>Email</label>
    <%= f.email_field :email %><br>
    
    <label>Password</label>
    <%= f.password_field :password %><br>
    
    <%= f.submit %>
<% end %>