<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h1 align="right"><u>Daily Sales Report</u></h1>
<br>
<h4>As of <%= Date.today.to_s %></h4>

<% products = {} %>
<% sub = 0 %>
<% total = 0 %>

<% @orders.each do |order| %>
    <% if order.cashier == current_cashier %>
        <% order.order_lines.each do |o| %>
            <% if products.keys.include? (o.product.name.to_sym) %>
                <% prod = products[o.product.name.to_sym] %>
                <% products[o.product.name.to_sym] = 
                products[o.product.name.to_sym] + o.quantity %>
                
            <% else %>
                <% products[o.product.name.to_sym] = o.quantity %>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<table class="table table-striped">
    <thead>
        <th>Product Name</th>
        <th>Quantity Sold</th>
        <th>Subtotal (VAT included)</th>
    </thead>
    <tbody>
        <% p = products.keys %>
        <% pr = products.values %>
        <% p.each do |prod| %>
            <tr>
                <td>
                    <%= prod.to_s %>
                </td>
                <td>
                    <%= products[prod.to_sym] %>
                </td>
                <td>
                    <% m = Product.where(:name => prod.to_s).first %>
                    <%= '%.2f' % st = (m.price * 1.12) * products[prod.to_sym] %>
                    <% total = total + st %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<h3>Total Sales: <b><%= '%.2f' % total %></b></h3>
<br>
<br>

<%= link_to 'Back', home_index_path, class: "btn btn-warning buttonBack" %>