<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h2><u>Edit Cashier</u></h2>
<br>
<br>

<%= form_for @cashier do |f| %>
    <label>Name</label>
    <div class="actions"><%= f.text_field :name %></div><br>
    
    <label>Email</label>
    <div class="actions"><%= f.email_field :email %></div><br>
    
    <label>Password</label>
    <div class="actions"><%= f.password_field :password %></div><br>
    
    <label>Password Confirmation</label>
    <div class="actions"><%= f.password_field :password_confirmation %></div><br>
    
    <div class="actions"><%= f.submit %></div>
<% end %>
<br>
<br>
<%= link_to 'Back', cashiers_path, class: "btn btn-warning buttonBack" %>