<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h1 align="right"><u>Cashiers</u></h1>

<br>
<br>

<a href="/cashiers/new"><button class="button1" style="vertical-align:middle"><span>Add New Cashier</span></button></a>
<a href="/cashiers/ranking"><button class="button1" style="vertical-align: middle"><span>View Ranking</span></button></a>

<br>
<br>

<table class="table table-striped">
    <thead>
        <th>Cashier Name</th>
        <th>Cashier E-mail</th>
        <th>Admin</th>
        <th>Status</th>
        <th colspan="3"></th>
    </thead>
    <tbody>
        <% @cashiers.each do |this_cashier| %>
            <tr>
                <td>
                    <%= this_cashier.name %>
                </td>
                <td>
                    <%= this_cashier.email %>
                </td>
                <td>
                    <%= if this_cashier.admin then this_cashier.admin.email else "NA" end %>
                </td>
                <td>
                    <%= if this_cashier.status then "Active" else "Inactive" end %>
                </td>
                <td>
                    <%= if this_cashier.status then link_to "Deactivate", cashier_path(this_cashier, this_cashier: {status: true}), 
                    method: :delete, class: "btn btn-danger" else link_to "Activate", cashier_path(this_cashier, this_cashier: {status: false}), 
                    method: :delete, class: "btn btn-primary" end %>
                </td>
                <td>
                    <%= link_to "Edit", edit_cashier_path(this_cashier), class: "btn btn-warning" %>
                </td>
                <td>
                     <%= link_to "Show", cashier_path(this_cashier), class: "btn btn-success" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back', home_index_path, class: "btn btn-warning buttonBack" %>