<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h2 align="center">♕ Cashier Ranking ♕</h2>
<h3 align="center"><u>based on sales</u></h3>
<br>
<br>


<!--tr>-->
<!--<td>-->
<!--   %= order.id %>-->
<!--</td>-->
<!--<td>-->
<!--    %= order.created_at %>-->
<!--</td>-->
<!--<td>-->
<!--    %= order.total_price %>-->
<!--</td>-->
<!--</tr>-->

<% a = {} %>
<% @cashiers.each do |hmmm| %>
    <% if a.keys.include? (hmmm.name.to_sym) %>
    <% else %>
        <% a[hmmm.name.to_sym] = 0 %>
    <% end %>
<% end %>
<% cashiertotal = nil %>

<% shhh = a.keys %>

<% shhh.each do |ayyy| %>
    <% @orders.each do |order| %>
        <% if order.cashier.name == ayyy.to_s %>
            <% a[ayyy] = a[ayyy] +  order.total_price %>
        <% end %>
    <% end %>
<% end %>
<% c = a.sort {|a,b| a[1]<=>b[1]}.reverse %>
<% d = [] %>
<% c.each do |a,b| %>
    <% d << a %>
<% end %>

<table class="table table-striped">
    <thead>
        <th>
            Rank
        </th>
        <th>
            Name
        </th>
        <th>
            $$$ Made
        </th>
    </thead>
    <tbody>
        <% d.each do |this| %>
        <tr>
            <td>
                <%= d.index(this) + 1 %>
            </td>
            <td>
                <%= this.to_s %>
            </td>
            <td>
                <%= a[this] %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
<br>

<%= link_to 'Back', url_for(:back), class: "btn btn-warning buttonBack" %>