<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h2><u>Cashier #<%= @cashier.id%></u></h2>
<br>
<h3>Name: <%= @cashier.name %></h3>
<h3>Status: <%= if @cashier.status then "Active" else "Inactive" end %></h3>
<br>

<% cashiertotal = nil %>
<table class="table table-striped">
    <thead>
        <th>Order ID</th>
        <th>Order Date</th>
        <th>Total Price</th>
        <th>            </th>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <% if order.cashier == @cashier %>
            <td>
               <%= order.id %>
            </td>
            <td>
                <%= order.created_at %>
            </td>
            <td>
                <%= order.new_total_price %>
            </td>
            <td>
                <!--%= link_to "Show", cashier_path(this_cashier), class: "btn btn-success" %>-->
                <%= link_to "Show", order_path(order), class: "btn btn-success" %>
            </td>
            
                <% if cashiertotal == nil %>
                    <% cashiertotal = 0 %>
                    <% cashiertotal = cashiertotal +  order.new_total_price %>
                <% else %>
                    <% cashiertotal = cashiertotal +  order.new_total_price %>
                <% end %>
                <% end %>
        <% end %>
        </tr>
    </tbody>
</table>
<h3>Cashier's Total: <b><%= cashiertotal %></b> </h3><br>
<br>
<br>

<%= link_to 'Back', cashiers_path, class: "btn btn-warning buttonBack" %>