<%= stylesheet_link_tag 'style', 'data-turbolinks-track': 'reload' %>

<h2><u>Log In</u></h2>

<br>
<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <%= f.label :email %><br>
    <div class="actions"><%= f.email_field :email, autofocus: true %></div>
  </div>
  
  <br>
  <br>
  
  <div class="field">
    <%= f.label :password %><br>
    <div class="actions"><%= f.password_field :password, autocomplete: "off" %></div>
  </div>
  
  <br>
  <br>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  
  <br>
  <br>
  
  <div class="actions"><%= f.submit "Log in" %></div>
  
<% end %>

<br>

<div><%= render "devise/shared/links" %></div>
