html{
	height:100%;
	width:100%;
}

body{
	height:100%;
	width:100%;
	margin: 0 0 0 0;
	padding:20px 10px 10px 10px;
	font-family: "Century Gothic";
	background-image: url(http://cdn.wonderfulengineering.com/wp-content/uploads/2013/12/metal-wallpapers-2.jpg);
	color: white;
}

div{
	height:100%;
	font-family: "Century Gothic";
	color: white;
}

h1{
	font-size: 7em;
	color: white;
}

h2{
	font-size: 3em;
	color: white;
}

u{
	border-bottom: 3px solid white;
	text-decoration: none;
	padding: 0 50px 10px;
}

body{ 
	padding-bottom: 70px; 
}

.actions{
	color:black;
}

th{
	background-color: #B0C4DE;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

tr:nth-child(odd){
	background-color: #778899;
}

td{
	color:black;
}

.nested-fields{
	height:100%;
	width:200px;
	font-family: "Century Gothic";
	color: grey;
}
.buttonBack{
    display: inline-block;
    border-radius: 10px;
    background-color: #B0C4DE;
    border: 3px solid #f2f2f2;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonstat{
    transition-duration: 0.4s;
}

.buttonstat:hover{
    background-color: #4CAF50;
    color: white;
}
.button1{
    display: inline-block;
    border-radius: 10px;
    background-color: #B0C4DE;
    border: 3px solid #f2f2f2;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 175px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button1 span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button1 span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -25px;
    transition: 0.5s;
}

.button1:hover span{
    padding-right: 25px;
}

.button1:hover span:after{
    opacity: 1;
    right: 0;
}

.btn-group .button1 {
    position: center;
    border: 3px solid #f2f2f2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial";
    font-size: 20px;
    cursor: pointer;
    width: 220px;
    height: 60px;
    display: block;
}