<h1>Order Lines</h1>

<table class="table table-striped">
    <thead>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th colspan="3"></th>
    </thead>
    <tbody>
        <% @order.order_lines.each do |this_order| %>
        <tr>
                <td>
                    <%= this_order.product.name %>
                </td>
                <td>
                    <%= this_order.quantity %>
                </td>
                <td>
                    <%= this_order.price %>
                </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back', url_for(:back) %>