<h1>New Order Line</h1>

<%= simple_form_for @order_line do |f| %>
    <!--%= f.association :products, as: :check_boxes, include_blank: false %>-->
    <%= f.association :products, :collection => Product.where(:status => true), 
       :label_method => :name, :value_method => :id, :include_blank => false %> 
    <!--%= %>-->
    <label>Quantity</label>
    <%= f.text_area :quantity %> <br>
    <%= f.submit %>
<% end %>

<!--%= form_for @order_line do |f| %>-->
    <!--% product_array = Product.where(:status => true) %>-->
    <!--% product_array.each do |cp| %>-->
    <!--%= cp.name %>-->
    <!--% end %>-->
<!--% end %>-->
