<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<%= form_for @product do |f| %>
    <label>Name:</label>
    <div class="actions"><%= f.text_field :name %></div><br>
    
    <label>Price:</label>
    <div class="actions"><%= f.text_area :price %></div><br>
    
    <label>Discount:</label>
    <div class="actions"><%= f.number_field :discount %></div><br>
    
    <label>Tag:</label>
    <%= f.radio_button :tag, 'Meat' %> Meat
    <%= f.radio_button :tag, 'Produce' %> Produce
    <%= f.radio_button :tag, 'Canned Goods' %> Canned Goods
    <%= f.radio_button :tag, 'Sweets' %> Sweets
    <%= f.radio_button :tag, 'Hygiene' %> Hygiene
    
    <div class="actions"><%= f.submit %></div>
<% end %>