<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h2><u>Edit Product</u></h1>
<br>
<br>

<%= render 'form', this_product: @product %>
<br>
<br>

<%= link_to 'Back', products_path, class: "btn btn-warning buttonBack" %>