<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h2><u>New Product</u></h2>
<br>
<br>
<%= render 'form', this_product: @product %>

<br>
<br>
<%= link_to 'Back', products_path, class: "btn btn-warning buttonBack" %>