<%= stylesheet_link_tag    'style', 'data-turbolinks-track': 'reload' %>

<h2><u>Product #<%= @product.id%></u></h2>
<br>
<br>

<% discount = 0 %>

<h3>Name: <%= @product.name %></h3>
<h3>Price: <%= @product.price %></h3>
<h3>Tag: <%= @product.tag %></h3>
<h3>Status: <%= if @product.status then "Active" else "Inactive" end %></h3>
<h3>Discount: <%= if @product.discount == nil then "1%" else "#{@product.discount.to_f * 100}%" end %></h3>
<% if @product.discount == nil then @product.discount = 1 end %>
<% discount = @product.price.to_f * @product.discount.to_f %>
<% @product.price = @product.price.to_f - discount %>

<br>
<br>
<%= link_to 'Back', products_path, class: "btn btn-warning buttonBack" %>